.user {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #b3e3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    margin: 20px;
}

.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #ffaf38;
    color: #ffaf38;

    cursor: pointer;
}

.paginationBttns a:hover {
    color: #34314c;
    background-color: #ffaf38;
}

.paginationActive a {
    color: #34314c;
    background-color: #ffaf38;
}

.paginationDisabled a {
    color: white;
    border: 1px solid white;
    background-color: #808080;
}

.paginationDisabled a:hover {
    color: white;
    border: 1px solid white;
    background-color: #808080;
    cursor: default;
}
